body {
    font-family: 'Oxanium', cursive;
}

/* Sidenav */
.image-box {
    width: 300px;
    height: 300px;

    /* Center image inside. */
    display: flex;
    justify-content: center;
    align-items: center;
}

#face {
    width: 55%;
    height: 55%;

    /* Circular crop */
    border-radius: 50%;
    object-fit: cover;
}

/* Offset content because of fixed navbar */
header, body, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, body, footer {
        padding-left: 0;
    }
}

/* Title section */
.title-section {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/sailor_moon_bg.jpeg");

    height: 150px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    font-size: 45px;
    font-weight: 700;
}

/* Content section */
.content-section {
    position: relative;
    width: 90%;
    transform: translate(0%, 40px);
}

/* Job card */
/* Typography */
.job-title {
    font-size: 18px;
}

.job-period {
    font-weight: 700;
}

/* Card format */
.card img {
    height: 150px;
    object-fit: cover;
}

.card-content {
    height: 100%;
}

/* Job modal */
.modal-title {
    top: 25%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}